<a href="https://colab.research.google.com/github/Bismiss/Project-Classification/blob/main/text_cleaning_classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
data = pd.read_csv('sent_train.csv')

In [ ]:
data.shape

(31962, 3)

In [ ]:
data.head()

   id  label                                              tweet
0   1      0   @user when a father is dysfunctional and is s...
1   2      0  @user @user thanks for #lyft credit i can't us...
2   3      0                                bihday your majesty
3   4      0  #model   i love u take with u all the time in ...
4   5      0             factsguide: society now    #motivation

In [ ]:
data.label.value_counts()

0    29720
1     2242
Name: label, dtype: int64

In [ ]:
data[data['label'] == 1]['tweet'][34]

"it's unbelievable that in the 21st century we'd need something like this. again. #neverump  #xenophobia "

In [ ]:
data.columns

Index(['id', 'label', 'tweet'], dtype='object')

where label '1' denotes the tweet is negative and label '0' denotes the tweet is positive,

In [ ]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [ ]:
#Removing the html strips
def strip_html(text):
    soup = BeautifulSoup(text, "html.parser")
    return soup.get_text()

#Removing the square brackets
def remove_between_square_brackets(text):
    return re.sub('\[[^]]*\]', '', text)

#Removing the noisy text
def denoise_text(text):
    text = strip_html(text)
    text = remove_between_square_brackets(text)
    return text

In [ ]:
from bs4 import BeautifulSoup
import re

In [ ]:
#Apply function on review column
data['tweet'] = data['tweet'].apply(denoise_text)

In [ ]:
data.head()

   id  label                                              tweet
0   1      0   @user when a father is dysfunctional and is s...
1   2      0  @user @user thanks for #lyft credit i can't us...
2   3      0                                bihday your majesty
3   4      0  #model   i love u take with u all the time in ...
4   5      0             factsguide: society now    #motivation

In [ ]:
#Define function for removing special characters
def remove_special_characters(text, remove_digits=True):
    pattern=r'[^a-zA-z0-9\s]'
    text=re.sub(pattern,'',text)
    text = re.sub(r"[^A-Za-z0-9^,!.\/'+-=]", " ", text)
    text = re.sub(r"what's", "what is ", text)
    text = re.sub(r"\'s", " ", text)
    text = re.sub(r"\'ve", " have ", text)
    text = re.sub(r"can't", "cannot ", text)
    text = re.sub(r"n't", " not ", text)
    text = re.sub(r"I'm", "i am ", text)
    text = re.sub(r"\'re", " are ", text)
    text = re.sub(r"\'d", " would ", text)
    text = re.sub(r"\'ll", " will ", text)
    text = re.sub(r",", " ", text)
    text = re.sub(r"\.", " ", text)
    text = re.sub(r"!", " ! ", text)
    text = re.sub(r"\^^", "", text)
    text = re.sub(r"\/", " ", text)
    text = re.sub(r"\^", " ^ ", text)
    text = re.sub(r"\+", " + ", text)
    text = re.sub(r"\-", " - ", text)
    text = re.sub(r"\=", " = ", text)
    text = re.sub(r"'", " ", text)
    text = re.sub(r"(\d+)(k)", r"\g<1>000", text)
    text = re.sub(r":", " : ", text)
    text = re.sub(r" e g ", " eg ", text)
    text = re.sub(r" b g ", " bg ", text)
    text = re.sub(r" u s ", " american ", text)
    text = re.sub(r"\0s", "0", text)
    text = re.sub(r" 9 11 ", "911", text)
    text = re.sub(r"e - mail", "email", text)
    text = re.sub(r"j k", "jk", text)
    text = re.sub(r"\s{2,}", " ", text)
    return text

In [ ]:
#Apply function on review column
data['tweet'] = data['tweet'].apply(remove_special_characters)

In [ ]:
data.head()

   id  label                                              tweet
0   1      0   user when a father is dysfunctional and is so...
1   2      0  user user thanks for lyft credit i cant use ca...
2   3      0                                bihday your majesty
3   4      0     model i love u take with u all the time in ur
4   5      0                  factsguide society now motivation

In [ ]:
#Stemming the text
def simple_stemmer(text):
    ps=nltk.porter.PorterStemmer()
    text= ' '.join([ps.stem(word) for word in text.split()])
    return text

In [ ]:
#Apply function on review column
data['tweet']= data['tweet'].apply(simple_stemmer)

In [ ]:
from nltk.corpus import stopwords
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [ ]:
#set stopwords to english
stop=set(stopwords.words('english'))
print(stop)

{'off', 'she', 'but', 'up', 'yourself', 'most', 'after', 'ours', "you'll", "mustn't", 'was', 'here', 'who', 't', 'which', 'and', 'these', 'being', 'again', 'itself', 'more', 'we', 'don', 'will', 'o', 'll', 'for', 'on', 'him', 'them', 'i', 'when', 'wouldn', 'or', 'down', 'same', 'didn', 'further', 'herself', 'an', "weren't", "you'd", 'having', 'theirs', 'once', 'very', "should've", 'am', 'the', 'yours', "that'll", 'above', 'doing', 'between', 'while', 'those', "couldn't", 'before', 'hasn', 'd', 'couldn', "don't", 'how', 'any', 'himself', "she's", 'at', 'now', 'by', 'has', 'you', 'he', 'nor', 'only', 'ain', 'shouldn', 'is', 'too', 'ourselves', 'her', 'that', 'than', "isn't", 'out', 're', 'had', 'into', 'needn', 'weren', 'during', 'both', 'does', 'they', 'mightn', "shouldn't", 'can', 'where', 'of', 'over', 'with', 'each', "you've", 'been', 'so', "hasn't", "mightn't", "shan't", 'no', "aren't", 'all', 'shan', 'to', 'why', "doesn't", 'mustn', "haven't", 'in', 'against', 'not', "won't", 'its', 'a', 'until', 'own', 'just', 'under', 'isn', 'ma', 'below', 'hers', 'our', 'aren', 'wasn', 'if', 'such', 'be', 'about', 'y', 'what', "it's", 'from', 'have', 'yourselves', 'this', "you're", 'through', "didn't", 'should', 'myself', 's', 'doesn', 'as', 'are', "wasn't", 'then', 'm', 'themselves', 'because', 'it', 've', 'hadn', 'his', 'their', "hadn't", 'other', "wouldn't", 'whom', 'your', 'my', 'did', 'haven', "needn't", 'there', 'few', 'won', 'me', 'some', 'were', 'do'}

In [ ]:
from nltk.tokenize.toktok import ToktokTokenizer

In [ ]:
#Tokenization of text
tokenizer1=ToktokTokenizer()

In [ ]:
#Setting English stopwords
stopword_list=nltk.corpus.stopwords.words('english')

In [ ]:
#removing the stopwords
def remove_stopwords(text, is_lower_case=False):
    tokens = tokenizer1.tokenize(text)
    tokens = [token.strip() for token in tokens]
    if is_lower_case:
        filtered_tokens = [token for token in tokens if token not in stopword_list]
    else:
        filtered_tokens = [token for token in tokens if token.lower() not in stopword_list]
    filtered_text = ' '.join(filtered_tokens)    
    return filtered_text

In [ ]:
#Apply function on review column
data['tweet'] = data['tweet'].apply(remove_stopwords)

till now we did cleaning and preprossing

feature engineering in text

In [ ]:
data['tweet']

0        user father dysfunct selfish drag hi kid hi dy...
1        user user thank lyft credit cant use caus dont...
2                                           bihday majesti
3                              model love u take u time ur
4                                  factsguid societi motiv
                               ...
31957                                   ate user isz youuu
31958    see nina turner airwav tri wrap mantl genuin h...
31959             listen sad song monday morn otw work sad
31960     user sikh templ vandalis calgari wso condemn act
31961                                    thank user follow
Name: tweet, Length: 31962, dtype: object

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer, ENGLISH_STOP_WORDS

In [ ]:
vect = TfidfVectorizer(stop_words=ENGLISH_STOP_WORDS, ngram_range=(1,2), max_features=400).fit(train.tweet)

In [ ]:
X = vect.transform(data.tweet)

In [ ]:
X

<31962x400 sparse matrix of type '<class 'numpy.float64'>'
	with 83852 stored elements in Compressed Sparse Row format>

In [ ]:
tweets_transformed = pd.DataFrame(X.toarray(),columns=vect.get_feature_names())

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

In [ ]:
tweets_transformed

,10,2016,adapt,adapt environment,affirmation,altwaystoheal,altwaystoheal healthy,amazing,america,amp,...,year,years,yes,young,ªð,ºï,¼ð,¾ð,ó¾,ó¾ ó¾
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31957,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
31958,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
31959,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
31960,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
31961,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
tweets_transformed.shape

(31962, 400)

In [ ]:
X = tweets_transformed

In [ ]:
y = data['label']

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=43)

In [ ]:
log_model = LogisticRegression()
log_model.fit(X_train,y_train)

LogisticRegression()

In [ ]:
y_pred = log_model.predict(X_test)

In [ ]:
from sklearn.metrics import accuracy_score

In [ ]:
accuracy_score(y_test,y_pred)

0.9422806194274989